version: "3.9"

services:

  jenkins:
    build: ./jenkins
    container_name: jenkins-master
    ports:
      - "9090:8080"
      - "50000:50000"
    volumes:
      - ./jenkins/jenkins_home:/var/jenkins_home
    networks:
      - devnet
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/login"]
      interval: 20s
      timeout: 10s
      retries: 5

  redis:
    image: redis:7-alpine
    container_name: redis-cache
    command: ["redis-server", "/usr/local/etc/redis/redis.conf"]
    volumes:
      - ./redis/redis.conf:/usr/local/etc/redis/redis.conf
    networks:
      - devnet
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      retries: 5

  app:
    build: ./app
    container_name: devops-node-app
    environment:
      - REDIS_HOST=redis
      - REDIS_PASSWORD=${REDIS_PASSWORD}
    depends_on:
      redis:
        condition: service_healthy
    ports:
      - "3000:3000"
    networks:
      - devnet
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:3000/health"]
      interval: 10s
      retries: 5

  nginx:
    image: nginx:latest
    container_name: nginx-gateway
    volumes:
      - ./nginx/default.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "80:80"
    depends_on:
      app:
        condition: service_healthy
    networks:
      - devnet
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost"]
      interval: 10s
      retries: 5

networks:
  devnet:
    driver: bridge
